.header {
  overflow-x: hidden;
}

/* .upperredline{
    background-color: red;
    height: 10px;
    overflow-x: hidden;

} */
.container {
  margin-top: -5px;
  height: 40px;
  background-color: grey;
}

.img1 {
  height: 300px;
}
.header-right {
  margin-left: 500px;
  display: "flex";
  justify-content: "flex-end";
  align-items: "center";
}
button {
  width: 90.88px;
  color: blue;
}
